@using System.Security.Claims

@{
	ViewData["Title"] = "Home Page";
}


<div class="container pt-3">
	<div class="d-flex gap-4 align-items-center border-bottom-custom">
		<h1 class="m-0 fs-3">Archivio Prenotazioni</h1>
		@if (User.Identity.IsAuthenticated && !User.IsInRole("Receptionist"))
		{
			<button class="btn btn-sm btn-success d-flex align-items-center h-75" onclick="getAdd()"> Nuova prenotazione</button>
		}
	</div>
	<hr class="mb-3"/>
	<div id="prenotazioniContainer" class="container-fluid ">

	</div>
</div>
