﻿@{
    Layout = "_Layout";
}

<div class="error-page d-flex flex-column justify-content-center align-items-center mt-5">
    <h1>@ViewBag.ErrorMessage</h1>
    <p>Puoi tornare alla <a asp-controller="Products" asp-action="Intro">Home page</a>.</p>

    <dotlottie-player src="https://lottie.host/34cb2fa0-5bc0-44a1-8144-44ed64885dad/eVIWZoXeK6.lottie"
                      background="transparent"
                      speed="1"
                      style="width: 500px; height: 500px"
                      loop
                      autoplay>
    </dotlottie-player>
</div>


<script src="https://unpkg.com/@@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>